html {
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input,
button,
span {
    font-family: "Nunito", sans-serif;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.leftheader {
    display: flex;
    align-items: center;
}

.leftheader .logo {
    height: 40px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 0 15px;
    flex-grow: 1;
    max-width: 600px;
    min-width: 150px;
    margin: 0 20px;
    height: 45px;
    overflow: hidden;
}

.search-container input {
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    color: #666;
    width: 100%;
}

.icon-left {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.search-button img {
    width: 20px;
}

.location {
    color: #1E3A8A;
    font-weight: 800;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px;
    cursor: pointer;
    white-space: nowrap;
}

.userprofile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userprofile img {
    cursor: pointer;
    height: 40px;
    width: auto;
    border-radius: 50%;
}

.hero {
    background-color: #0038A9;
    margin-top: 70px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 0 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    gap: 40px;
}

.hero-text {
    flex: 1;
    padding-bottom: 40px;
}

.hero-text h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text h1 strong {
    font-weight: 800;
}

.hero-form .email-container {
    position: relative;
    display: flex;
    gap: 10px;
    max-width: 500px;
    margin-bottom: 20px;
}

.hero-form input {
    flex: 1;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px;
}

#mensaje-feedback {
    color: rgb(14, 255, 14);
}

.hero-form input:focus {
    outline: none;
}

.hero-form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.hero-image img {
    height: auto;
    max-height: 430px;
    width: auto;
    display: block;
    transform: translateY(16px);
    z-index: 500;
}

.creepy-button-wrapper {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 45px;
    perspective: 1000px;
    border-radius: 8px;
}



.btn-creepy {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
    background: transparent
}



.btn-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0038A9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    z-index: 10;
    transform-origin: bottom left;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1.65);
    transform-origin: bottom left;
    border: 2px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-creepy:hover .btn-text {
    transform: rotateX(20deg) rotateY(-12deg) translateY(-5px);
}



.creepy-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    gap: 8px;
    border-radius: 12px;
}



.eye {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(12px);
    animation: eye-blink-simple 5s infinite;
}



.pupil {
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-out;
    pointer-events: none;
}



.btn-creepy:hover .btn-text {
    transform: rotate(-10deg);
}



@keyframes eye-blink-simple {

    0%,
    92%,
    100% {
        transform: translateY(12px) scaleY(1);
    }

    96% {
        transform: translateY(12px) scaleY(0);
    }
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    padding: 20px 0;
    margin-top: 30px;
    width: 100%;
}

.category-item {
    flex: 0 0 auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.category-circle {
    width: 120px;
    height: 120px;
    background-color: #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.3s ease;
}

.category-circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.arrow-btn {
    display: none;
}

.masbuscado {
    padding: 20px 5%;
}

.busquedas {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}

.busquedas span {
    background-color: #d7d7d7;
    color: #555;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.busquedas span:hover {
    background: linear-gradient(135deg, #e0e0e0 0%, #ffffff 50%, #e0e0e0 100%);
    color: #0038A9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.seccion-unete {
    padding: 40px 20px;
}

.unete-text {
    text-align: center;
    font-size: clamp(24px, 4vw, 40px);
    margin-bottom: 40px;
}

.unete-text strong {
    color: #0038A9;
}

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    justify-self: center;
}

.post {
    max-width: 400px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.post:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.post img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 0%;
}

.post button {
    background-color: #C2F0D5;
    color: #27AE60;
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s;
}

.post button:hover {
    background-color: #a8e6c1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #001a4d;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

@media (max-width: 992px) {
    .hero-image {
        display: none;
    }

    .hero-text {
        text-align: center;
    }

    .hero-form .email-container {
        margin: 0 auto;
    }

    .contenedor-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .post {
        margin: 0;
    }

    .carousel-wrapper {
        padding: 0 50px;
    }

    .categories {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        scrollbar-width: none;

    }

    .categories::-webkit-scrollbar {
        display: none;
    }

    .arrow-btn {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        border: 1px solid #ddd;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 10;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #0038A9;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }

    .location {
        display: none;
    }

    .logo {
        display: none;
    }

    .hero {
        align-items: center;
        text-align: center;
        padding-bottom: 40px;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-image {
        display: none;
    }

    .hero-form .email-container {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .hero-form button {
        height: 45px;
    }

    .category-circle {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 400px) {
    .post img {
        display: none;
    }
}

footer .redes img {
    width: 30px;
    height: auto;
}

:root {
    --bg-color: #3498db;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}

.item {
    display: flex;
}

.item:hover .icon {
    filter: brightness(0) invert(1);
}

.item a {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}

.item:hover a::before {
    scale: 1 1;
}

.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}

.item a:hover .icon {
    color: white;
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(135deg,
            #298FFF 0%,
            #1877F2 100%);
}

.item:nth-child(2) {
    --bg-color: linear-gradient(135deg,
            #4285f4 0%,
            #4285f4 25%,
            #34a853 25%,
            #34a853 50%,
            #fbbc05 50%,
            #fbbc05 75%,
            #ea4335 75%,
            #ea4335 100%);
}